header {
  background-color: #422ed4;

  color: white;
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  height: 59px;

  display: flex;
  align-items: center;
}

.logo{
  width: 43px;
  height: 43px;
  margin-left: 160px;
  margin-right: 10px;
}
